[Desktop Entry]
Encoding=UTF-8
Name=iap-programmer
Name[zh_CN]=IAP烧录工具
Comment=AP烧录工具
Exec=iap-programmer
Icon=iap-programmer
Terminal=false
Type=Application
Categories=Education;Electronics
StartupNotify=false
